@model IEnumerable<MyLittlePetShop.Models.ShoppingItem>

@{
    ViewBag.Title = "Index";
}

<h2>SHopping Cart</h2>

<table class="table" id="productTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToArray()[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToArray()[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToArray()[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToArray()[0].Quantity)
            </th>
            <th>
                Controls
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="image" src="@item.Image" onclick="@("location.href='" + Url.Action("Details", "Items", new { id = item.Id }) + "'")" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id },htmlAttributes: new { @class="btn btn-dark"}) |
                    <button class="btn btn-dark js-delete" thisId="@item.Id">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script src="~/Scripts/AppScripts/paging.js"></script>
    <script>
        $(".js-delete").click(function () {
        let btn = $(this);
        bootbox.confirm("Are you sure you would liek to delete Item ?", function (confirm) {
        if (confirm) {
            $.ajax({
                method: "DELETE",
                url: "api/ShoppingCartItems/" + btn.attr("thisId"),
                success: function () {
                    $("#productTable").DataTable().row(btn.parent().parent()).remove().draw()
                }
            })
        }
    })
})
    </script>
}