@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../Content/Images/SiteIcons/home.jpg);  text-align:center;}">
    <h1 >Welcome</h1>
</div>

<div>
    <h2>New</h2>
    <hr />
    <table cellpadding="23px">
        <tr>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
        </tr>
    </table>
    <br />
    <h2>Most popular</h2>
    <hr />
    <table cellpadding="23px">
        <tr>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
        </tr>
    </table>
    <br />
    <h2>Trending</h2>
    <hr />
    <table cellpadding="23px">
        <tr>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
            <th><img src="not_found.jpg" width="200px" height="200px" style="background-color:white;"><br />@Html.Label("Name of product")<br />@Html.Label("Price: ")<br />@Html.ActionLink("Add to cart", "Index")</th>
        </tr>
    </table>
    <br />
</div>