<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="p-0" style="background-color:lightgray;">
    <div class="navbar navbar-dark navbar-expand-sm bg-dark row">
        <div class="container-fluid">
            <div class="navbar-toggler">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse flex-column" id="navbar">
                <ul class="navbar-nav col-md-12">
                    <li class="nav-item active col-md-1">   
                        <a class="navbar-brand ml-3" href="#">
                            <img src="~/Content/Images/SiteIcons/logo.png" width="100" rel="image">
                        </a>
                    </li>
                    <li class="nav-item col-md-10 mt-3">
                        @{
                            Html.RenderAction("Search","Home");
                        }
                    </li>
                    <li class="nav-item col-md-3 mt-3">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
                <ul class="navbar-nav col-md-12">
                    <li class="nav-item col-sm-1">@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("Categories", "Index", "Categories", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("Products", "Index", "Items", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("Sell", "Create", "Items", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("Cart", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>        
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <div style="background-color:gray; padding:20px;">
                <table cellpadding="5px">
                    <tr>
                        <td>
                            <img src="~/Content/Images/SiteIcons/logo.png" width="70" rel="image">
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Working hours:</b><br /> Monday - Friday (08:00 - 18:00)</p>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
            
            <p>
                &copy; MyLittlePetShop @DateTime.Now.Year
                <img src="~/Content/Images/SiteIcons/visaIcon.png" width="35" rel="image">
                <img src="~/Content/Images/SiteIcons/mastercardIcon.png" width="35" rel="image">
                <img src="~/Content/Images/SiteIcons/americanexpressIcon.png" width="35" rel="image">
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
