<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="p-0" style="background-color:lightgray;">
    <div class="navbar navbar-dark navbar-expand-sm bg-dark row pb-0">
        <div class="container-fluid">
            <div class="navbar-toggler">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse flex-column" id="navbar">
                <ul class="navbar-nav col-md-12">
                    <li class="nav-item active col-md-1">
                        <a class="navbar-brand ml-3" href="#">
                            <img src="~/Content/Images/SiteIcons/logo.png" class="btn-outline-dark" width="100" rel="image">
                        </a>
                    </li>
                    <li class="nav-item col-md-8 mt-3">
                        @{
                            Html.RenderAction("Search", "Home");
                        }
                    </li>
                    <li class="nav-item col-md-2 mt-3">
                        @Html.Partial("_LoginPartial")
                    </li>
                    <li class="nav-item col-md-1 mt-3">
                        @Html.ActionLink("Cart", "Details", "ShoppingCart", null, htmlAttributes: new { @class = "btn btn-dark" })
                    </li>
                </ul>
                <ul class="nav navbar-nav nav-pills col-md-12" >
                    <li class="nav-item col-md-1 align-middle">@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    <li class="nav-item col-md-1">@Html.ActionLink("Categories", "Index", "Categories", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    <li class="nav-item col-md-1">@Html.ActionLink("Products", "Index", "Items", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    <li class="nav-item col-md-1">@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    <li class="nav-item col-md-1 align-middle">@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Seller"))
                    {
                        <li class="nav-item col-sm-1">@Html.ActionLink("Sell", "Create", "Items", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                        <li class="nav-item col-sm-1">@Html.ActionLink("Selling", "Index", "SubmitedProducts", null, htmlAttributes: new { @class = "nav-link text-center btn-dark js-select" })</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item col-sm-1">@Html.ActionLink("Asign Role", "AsignRole", "Account", null, htmlAttributes: new { @class = "nav-link text-center btn-dark" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer class="container-fluid p-2">
            <div class="row bg-dark p-3">
                <div class="col-2">
                    <div class="row">
                        <div class="col-12">
                            <img src="~/Content/Images/SiteIcons/logo.png" class="w-100" rel="image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 font-weight-bold text-white text-center">
                            Working hours:
                        </div>
                    </div>
                    <div class="row text-white text-center">
                        <div class="col-12">
                            Monday - Friday
                            (08:00 - 18:00)
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="row p-4">
                        <div class="col-12 text-center text-white font-weight-bold">
                            Contact Us
                        </div>
                    </div>
                    <div class="row p-2 d-inline-flex justify-content-center align-middle">
                        <div class="col-2 m-1">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-2x fa-facebook-square" style="color:royalblue"></i>
                            </a>
                        </div>
                        <div class="col-2 m-1">
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-2x fa-instagram" style="color:darkorange"></i>
                            </a>
                        </div>
                        <div class="col-2 m-1">
                            <a href="https://twitter.com/">
                                <i class="fa fa-2x fa-twitter" style="color:deepskyblue"></i>
                            </a>
                        </div>
                        <div class="col-2 m-1">
                            <a href="https://www.youtube.com/">
                                <i class="fa fa-2x fa-youtube-play" style="color:orangered"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="row p-3">
                        <div class="col-12 text-white font-weight-bold ">
                            Payment methods
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-3">
                            <i class="fa fa-2x fa-cc-visa" style="color:mediumblue"></i>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-2x  fa-cc-mastercard" style="color:orangered"></i>
                        </div>
                        <div class="col-3">
                            <i class="fa fa-2x  fa-cc-paypal" style="color:deepskyblue"></i>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row p-3">
                        <div class="col-12 text-white font-weight-bold text-center">
                            Available items
                        </div>
                    </div>
                    <div class="row text-center text-white p-2">
                        dogs, cats, birds, fish,
                        pet food, toys, beds, cages and more
                    </div>
                </div>
                <div class="col-3">
                    <div class="row p-3 text-center text-white font-weight-bold">
                        <div class="col-12">
                            Location
                        </div>
                    </div>
                    <div class="row p-3 d-flex justify-content-center">
                        <div class="col-12">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.674510350961!2d21.334065815701912!3d41.03237647929827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1357259f612eab2d%3A0x7afda44b9740c26e!2sMy%20Pet%20Shop!5e0!3m2!1sen!2smk!4v1594655554745!5m2!1sen!2smk" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0" allowfullscreen="" class="h-75 w-100"></iframe>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row bg-dark">
                <div class="col-12 text-white">
                    <hr class="bg-white" />
                    &copy; MyLittlePetShop @DateTime.Now.Year
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
