@model MyLittlePetShop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="row col-md-6">
        <dt class="col-md-6">
                Password:
        </dt>
        <dd class="col-md-6">

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-dark" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-dark" })
            }
        </dd>
        <dt class="col-md-6">
            Currently selling:
        </dt>
        <dd class="col-md-6">

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Check status", "Index","SubmitedProducts", null, new { @class = "btn btn-dark" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-dark" })
            }
        </dd>
        @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
        *@
        @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
        *@
        <dt class="col-md-6">Two-Factor Authentication:</dt>
        <dd class="col-md-6">
            none
            @*<p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        </dd>
    </dl>
</div>
