@model IEnumerable<MyLittlePetShop.Models.ShoppingItem>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table class="table table-striped d-md-table table-responsive table-borderless table-hover" style="border-collapse:collapse !important" id="productTable">
    <thead class="thead-dark">
        <tr class="d-md-table-row">
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th scope="col" class="col-auto d-md-table-cell text-center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th scope="col" class="col-2 d-md-table-cell text-center">
                    Controls
                </th>
            }

        </tr>
    </thead>
    <tbody class="container p-0 m-0">
        @foreach (var item in Model)
        {

            <tr class="d-md-table-row">
                <td scope="row" class="col-auto d-md-table-cell">
                    <input type="image" src="@item.Image" onclick="@("location.href='" + Url.Action("Details", "Items", new { id = item.Id }) + "'")" />
                </td>
                <td class="col-auto d-md-table-cell align-middle text-center">
                        @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td class="col-auto d-md-table-cell align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-auto d-md-table-cell align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td class="col-auto d-md-table-cell align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-auto d-md-table-cell align-middle text-center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td class="col-2 d-md-table-cell align-middle text-center">

                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-dark" })
                        <button thisId="@item.Id" class="btn btn-danger js-delete">Delete</button>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@section scripts{

    
    <script>
        table = $("#productTable").DataTable({
            "columnDefs": [
                { className: "dt-body-center", "targets": [1, 3] }
            ]
        })
        var table = $("#productTable").DataTable()
        $(".js-delete").click(function () {
        let btn = $(this);
        bootbox.confirm("Are you sure you would liek to delete Item ?", function (confirm) {
        if (confirm) {
            $.ajax({
                method: "DELETE",
                url: "api/itemsApi/" + btn.attr("thisId"),
                success: function () {
                    table.row(btn.parent().parent()).remove().draw()
                }
            })
        }
    })
})
    </script>
}